python-telegram-bot[job-queue]
requests
beautifulsoup4

python-dotenv
google-generativeai
tenacity>=8.0.0
pytest
APScheduler
click
mistralai==0.4.2
sqlalchemy
psycopg2-binary
alembic
prometheus-client