# =================================================================
# WireGuard Server Environment Variables (.env.example)
# =================================================================
#
# Скопируйте этот файл в wg.env и заполните реальными значениями
# для настройки вашего WireGuard сервера с помощью скрипта.
#

# --- Основные настройки ---

# Внешний сетевой интерфейс сервера (проверьте командой `ip a` или `ifconfig`)
# Например: eth0, ens3, enp0s3
WG_EGRESS_INTERFACE="eth0"

# Приватный ключ, сгенерированный для этого СЕРВЕРА
# Пример: wg genkey
WG_SERVER_PRIVATE_KEY="<вставьте сюда приватный ключ СЕРВЕРА>"

# Публичный ключ, сгенерированный для КЛИЕНТА, который будет подключаться
# Этот ключ берется из файла конфигурации клиента (wg0.conf)
WG_CLIENT_PUBLIC_KEY="<вставьте сюда публичный ключ КЛИЕНТА>"


# --- Опционально: Сетевые адреса ---
# Эти значения используются по умолчанию в скрипте,
# но вы можете их переопределить здесь при необходимости.

# Адрес сервера внутри VPN-туннеля
# WG_SERVER_ADDR_IPV4="10.0.0.1/24"
# WG_SERVER_ADDR_IPV6="fd30:0:0::1/64"

# Адрес, который будет выдан клиенту внутри VPN-туннеля
# WG_CLIENT_ADDR_IPV4="10.0.0.2/32"
# WG_CLIENT_ADDR_IPV6="fd30:0:0::2/128"

[Interface]
Address = 10.13.13.4
PrivateKey = UBSEA/9Dwocl3fqINV9QqecelKkaOHrFtfQ0C5L2oEA=
ListenPort = 51820
DNS = 10.13.13.1

[Peer]
PublicKey = 2M3RxLzMp4g1XJtphBsTOSxF90G9yNqgkO/5JfRyzCw=
Endpoint = ua.cidious.com:51820
AllowedIPs = 0.0.0.0/0, ::/0
